@mixin link_style{
    text-decoration: none;
    color: black
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    padding: 0.5rem
}


.logo{
  a{
      @include link_style();
      font-size: 2rem;
  }
}

.navlinks{
    display: flex;
    gap: 1rem;

    a{
        @include link_style();
        font-size: 1.2rem;
    }
}